.habitscomponent{
    /* margin: 1rem 0; */
    display: flex;
    flex-direction: column;
}
.titleform{
    background-color: #CCD5AE;
    font-size: 1.2rem;
    text-align: left;
}
.habitsform{
    display:flex;
    flex-direction: column;
    background-color: #CCD5AE;
    padding:2rem;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
}
/* h1{
    color:#222222;
} */
h2{
    margin:0;
    padding:0;
}

.habitsform label {
  margin: 1rem 0 0.5rem 0;
  font-weight: 500;
  color: #502100;
  font-size: 0.8rem;
  display: block;
}

.repsinput, .titleinput, .priorityinput{
    padding: 0.8rem;
    background-color:#FFFDF4;
    color: #502100;
    border-radius:5px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    border: 2px solid #fffdf4;
}

.repsinput:focus, .titleinput:focus, .priorityinput:focus {
  outline: none;
  border-color: #dae1bb;
}

.formbtn{
    border:none;
    padding:0.8rem;
    background-color: #fef3e0;
    color: #502100;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 500;
    transition: 0.15s ease;
}
.formbtn:hover{
    background-color: #ECE1CF;
    cursor: pointer;
}