.habitscomponent{
    /* margin: 1rem 0; */
    display: flex;
    flex-direction: column;
}
.titleform{
    padding:0.5rem 0;
    background-color: #CCD5AE;
}
.habitsform{
    display:flex;
    flex-direction: column;
    background-color: #CCD5AE;
    padding:1rem;
    gap:0.7rem;
}
/* h1{
    color:#222222;
} */
h2{
    margin:0;
    padding:0;
}
.repsinput, .titleinput, .priorityinput{
    font-size: 0.8rem;
    min-width: 10%;
    padding:0.4rem;
    background-color:#FFFDF4;
    color:rgb(80, 33, 0);
    border:none;
}

.formbtn{
    border:none;
    background-color: #FEFAE0;
    padding:1rem;
    align-self: end;
}
.formbtn:hover{
    background-color: #ECE1CF;
}