.habitscomponent{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.titleform{
    padding:0.5rem 0;
    background-color: #B253FF;
}
.habitsform{
    display:flex;
    flex-direction: column;
    background-color: #B253FF;
    padding:1rem;
}
h1{
    color:#222222;
}
h2{
    margin:0;
    padding:0;
}
.repsinput, .titleinput, .priorityinput{
    font-size: 0.8rem;
    min-width: 10%;
    padding:0.4rem;
}
.formbtn{
    border:none;
    background-color: #97FFBF;
    padding:1rem;
    align-self: end;
}
.formbtn:hover{
    color:white;
    background-color: #02ab42;
}