.form{
  background-color: #E9EDC9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  gap: 5px;
}

.form select{
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #FFFDF4;
  color: #222;
  width: 100%;
  box-sizing: border-box;
}

.sorting {
  background-color: #FEF3E0;
  color: #222;
  border: none;
  border-radius: 5px;
  padding: .2rem;
  font-weight: 500;
  transition: 0.15s ease;
}

.sorting:hover {
  cursor: pointer;
  background-color: #ECE1CF;
}

.stopSorting {
  width: fit-content;
  background-color: #FBB7B7;
  color: #222;
  border: none;
  border-radius: 5px;
  padding: .2rem;
  font-weight: 500;
  transition: 0.15s ease;
}