.welcometext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.welcometext p {
    opacity: 0.7;
}

.welcometext i {
    font-weight: bold;
}