.form{
  background-color: #CCD5AE;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 2rem;
  border-radius: 25px;
}

.list{
  background-color: #CCD5AE;
  width: 100%;
  border-radius: 25px;
  padding: 1.5rem 2rem 2rem 2rem;
  height: fit-content;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}