.form{
  background-color: #E9EDC9;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 10px;
  border-radius: 50px;
}

.list{
  background-color: #CCD5AE;
  width: 70%;
  border-radius: 50px;
  padding: 15px 40px;
  height: fit-content;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}