.habitCard{
    display:flex;
    flex-direction: column;
    background-color:rgb(199, 199, 199);
    border-radius:1rem;
    align-items: center;
    background: linear-gradient(#767676, #636363);  
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}
h2{
    color:white;
}
html{
    background-color: #222222;
}
.reps{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-bottom:0.1rem;
}
/* .reps button{
    padding:1rem;
} */
.reps p{
    text-align: center;
}
label{
    color:white;
}
.filtersort{
    display:flex;
    justify-content: end;
    gap:1rem;
    margin-bottom:1rem;
}