.ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.ul li {
  display: flex;
  background-color: #E9EDC9;
  flex-direction: column;
  height: fit-content;
}

/* .ul li .complete{
  background-color: black;
} */

.complete{
  background-color: rgba(233, 237, 201, 0.5);
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin: 5px;
}