.complete{
  color: gold;
}

.ul{
  list-style-type: none;
}

.ul li {
  display: flex;
  flex-direction: column;
  background-color: rgba(78, 78, 78, 1);
  width: 30%;
  height: fit-content;
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin: 5px;
}