.ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-left: -15px;
}

.complete{
  background-color: rgba(233, 237, 201, 0.5);
}

.container {
  display: flex;
  gap: 10px;
  /* margin: 2.5px; */
}