.ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 0.5rem;
}

.complete{
  background-color: rgba(233, 237, 201, 0.5);
}

.container {
  display: flex;
  /* margin: 2.5px; */
}