.pagetitle{
    margin-bottom:1rem;
}
html{
    overflow-y: 100%;
}
.newbtn{
    background-color: #CCD5AE;
    font-size: 2rem;
    border:none;
    width:4rem;
    height:4rem;
    margin-bottom:1rem;
}
.newbtn:hover{
    color:white;
    background-color: #37ff84;
}
.cancelbtn{
    align-self: start;
    font-size: 2rem;
    height:4rem;
    background-color: #FBB7B7;
    border:none;
    padding:1rem;
}
.cancelbtn:hover{
    background-color: #EDABAB;
}

.wrapper{
    max-width:75%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}
.habitCard{
    display:flex;
/*     padding:1.5rem; */
    background-color: #CCD5AE;
    flex-direction: column;
    border-radius:1rem;
    align-items: center;
   
    
}
.deletebtn{
    font-size: 1rem;
    width:1.3rem;
    border-radius: 3rem;
    padding:0.06rem;
    align-self:end;
    text-align: center;
    margin:0.5rem 0.1rem 0 0;
    color:white;
    background-color: #FBB7B7;
    border:none;
}
.deletebtn:hover{
    background-color:white;
    color:#F82797;
}
.repbtn{
    padding:0.1rem;
    height: 3rem;
    width:3rem;
    background-color: rgb(255, 255, 255);
    font-size:1.5rem;
    border:none;
    border-radius:0.02rem;
}
.repbtn:hover{
    background-color: #37ff84;
}
.resetbtn{
    margin:1rem;
}
.resetbtn:hover{
    background-color: #F82797;
    color:white;
}
.grid{
    max-width: 1fr;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1%;
}

.reps{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-bottom:0.1rem;
}
/* .reps button{
    padding:1rem;
} */
.reps p{
    text-align: center;
}

.filtersort{
    display:flex;
    justify-content: end;
    gap:1rem;
    margin-bottom:1rem;
    background-color: #CCD5AE;
}
.output{
    align-self: end;
    display:flex;
    width:60%;
    flex-direction: column;
}
.repsnum{
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem  black;

}
.mainflex{
    display:flex;
    gap:1%;
}
.newhabit{
    min-width: 39%;
}