.pagetitle{
    margin-bottom:2rem;
}

.newbtn{
    background-color: #FEF3E0;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border:none;
    border-radius: 5px;
    transition: 0.15s ease;
}
.newbtn:hover{
    background-color: #ECE1CF;
    cursor: pointer;
}
.cancelbtn{
    align-self: start;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #FBB7B7;
    border:none;
    border-radius: 5px;
    transition: 0.15s ease;
}
.cancelbtn:hover{
    background-color: #EDABAB;
    cursor: pointer;
}

.wrapper{
    max-width:100%;
    margin: 0 auto;
    margin: 2rem;
    display:flex;
    flex-direction: column;
    color: #502100;
}
.wrapper button{
    color: #502100;
}
.habitCard{
    display:flex;
    background-color: #E9EDC9;
    flex-direction: column;
    border-radius:25px;
    align-items: center;
    height:fit-content;
    padding:0.5rem 0.5rem 1.5rem 0.5rem;
}
.låg{
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0 0 0.5rem;
    font-weight: 500;
    background-color: rgb(207, 254, 255);
}
.medel{
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0 0 0.5rem;
    font-weight: 500;
    background-color:#ecf798;
}
.hög{
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0 0 0.5rem;
    font-weight: 500;
    background-color: rgb(255, 183, 183);
}
.cardtitle{
    font-weight: bold;
    margin-bottom:1rem;
}
.deletebtn{
    font-size: 1rem;
    width:1.3rem;
    border-radius: 25px;
    align-self:end;
    text-align: center;
    margin:0.5rem 0.5rem 0 0;
    background-color: #FBB7B7;
    border:none;
    transition: 0.15s ease;
}
.deletebtn:hover{
    background-color: #EDABAB;
    cursor:pointer;
}
.reptitle {
    opacity: 0.7;
    font-size: 0.8rem;
}
.repbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.1rem;
    height: 1.5rem;
    width:1.5rem;
    background-color: #FEF3E0;
    font-size:1.5rem;
    border:none;
    border-radius:25px;
    transition: 0.15s ease;
}
.repbtn:hover{
    background-color: #ECE1CF;
    cursor:pointer;
}
.resetbtn{
    border:none;
    padding: 0.5rem 0.8rem;
    background-color: #FEF3E0;
    margin-bottom:1rem;
    border-radius: 5px;
    transition: 0.15s ease;
}
.resetbtn:hover{
    background-color: #ECE1CF;
    cursor: pointer;
}
.grid{
    display:grid;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}

.repsflex{
    display:flex;
    padding:0.8rem 0.8rem 0.3rem 0.8rem;
    justify-content: space-evenly;
    align-items: center;
    gap:0.6rem;
    margin-bottom:0.1rem;
}

.repsflex p{
    text-align: center;
}

.filtersort{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* gap:1rem; */
    margin-bottom:1rem;
    background-color: #CCD5AE;
    padding: 1.5rem 2rem;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 500;
}
.filtersort select{
    background-color: #FEF3E0;
    color: #502100;
    border:none;
    padding: 1rem;
    border-radius: 25px;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    font-weight: 500;
    transition: 0.15s ease;
}

.filtersort select:hover {
    background-color: #ECE1CF;
    cursor:pointer;
}
.output{
    align-self: end;
    display:flex;
    width:100%;
    flex-direction: column;
}
.repsnum{
    font-size: 1.6rem;
}
.mainflex{
    display:flex;
    gap:2rem;
}
.newhabit{
    width: 400px;
}
.filterdiv{
    display:flex;
    gap:0.6rem;
    align-items: center;
}