.pagetitle{
    margin-bottom:2rem;
}

.newbtn{
    background-color: #FEF3E0;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border:none;
}
.newbtn:hover{
    background-color: #ECE1CF;
}
.cancelbtn{
    align-self: start;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #FBB7B7;
    border:none;

}
.cancelbtn:hover{
    background-color: #EDABAB;
}

.wrapper{
    max-width:95%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    color:rgb(80, 33, 0);
}
.wrapper button{
    color:rgb(80, 33, 0);
}
.habitCard{
    display:flex;
    background-color: #CCD5AE;
    flex-direction: column;
    border-radius:1rem;
    align-items: center;
    height:fit-content;
    padding:0.5rem 0;
}
.låg{
    background-color: rgb(207, 254, 255);
}
.medel{
    background-color:#ecf798;
}
.hög{
    background-color: rgb(255, 183, 183);
}
.cardtitle{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom:1rem;
}
.deletebtn{
    font-size: 1rem;
    width:1.3rem;
    border-radius: 3rem;
    padding:0.06rem;
    align-self:end;
    text-align: center;
    margin:0.5rem 0.5rem 0 0;
    background-color: #FBB7B7;
    border:none;
}
.deletebtn:hover{
    background-color: #EDABAB;
}
.repbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.1rem;
    height: 1.5rem;
    width:1.5rem;
    background-color: #FEF3E0;
    font-size:1.5rem;
    border:none;
    border-radius:0.02rem;
}
.repbtn:hover{
    background-color: #ECE1CF;
}
.resetbtn{
    border:none;
    padding:0 0.6rem;
    background-color: #FEF3E0;
    margin-bottom:1rem;
}
.resetbtn:hover{
    background-color: #ECE1CF;
}
.grid{
    display:grid;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}

.repsflex{
    display:flex;
    padding:0.8rem;
    justify-content: space-evenly;
    align-items: center;
    gap:0.6rem;
    margin-bottom:0.1rem;
}

.repsflex p{
    text-align: center;
}

.filtersort{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* gap:1rem; */
    margin-bottom:1rem;
    background-color: #CCD5AE;
    padding: 1rem 0.5rem;
}
.filtersort select{
    background-color:#FFFDF4;
    color:rgb(80, 33, 0);
    border:none;
}
.output{
    align-self: end;
    display:flex;
    width:60%;
    flex-direction: column;
}
.repsnum{
    font-size: 1.6rem;
}
.mainflex{
    display:flex;
    gap:1%;
}
.newhabit{
    min-width: 39%;
}
.filterdiv{
    display:flex;
    gap:0.6rem;
}