.eventlist {
    display: flex;
    flex-direction: column;
    background-color:#CCD5AE;
    padding: 2rem;
    border-radius: 25px;
    width: 100%;
}

.filterbutton button {
    background-color: #FEF3E0;
    font-size: 0.8rem;
    color: #222;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0 0 0.5rem;
    font-weight: 500;
    transition: 0.15s ease;
}

.filterbutton button:hover {
    cursor: pointer;
    background-color: #ECE1CF;
}

.filterbutton button.active {
    background-color: #ECE1CF;
}

.filterbutton button.active:hover {
    background-color: #ECE1CF;
}

.filterbutton span {
    font-weight: 500;
    font-size: 0.8rem;
}

.eventlist ul {
    margin-top: 1rem;
}
