.itemcontainer {
    padding: 0.3rem;
}

.itemcontainer button {
    font-size: 0.8rem;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 0.8rem;
    margin: 0 0 0 0.5rem;
    font-weight: 600;
}

.itemcontainer button:last-of-type {
    background-color: #F82797;
    color: #222;
}

.itemcontainer button:first-of-type {
    background-color: #222;
    color: #EEE;
}