.itemcontainer {
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.itemcontainer button {
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    margin: 0 0 0 0.5rem;
    font-weight: 500;
}

.itemcontainer button:last-of-type {
    background-color: #F82797;
    color: #222;
    transition: 0.15s ease;
}

.itemcontainer button:last-of-type:hover {
    background-color: #D71F81;
    cursor: pointer;
}

.itemcontainer button:first-of-type {
    background-color: #eee;
    color: #222;
    transition: 0.15s ease;
}

.itemcontainer button:first-of-type:hover {
    background-color: #CACACA;
    cursor: pointer;
}

.textcontainer {
    display: flex;
    flex-direction: column;
}

.date {
    font-size: 0.8rem;
    opacity: 0.7;
}

.name {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
}