.eventform {
  width: 400px;
  height: fit-content;
  background-color: #ccd5ae;
  padding: 2rem;
  border-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
}

.addbutton {
  background-color: #fef3e0;
  color: #502100;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  margin-top: 2rem;
  font-weight: 500;
  transition: 0.15s ease;
}

.addbutton:hover {
  cursor: pointer;
  background-color: #ece1cf;
}
