.completeLi{
  background-color: #DAE1BB;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 5px;
  align-items: center;
  margin: 20px;
  padding: 10px;
    text-align: center;
}

.complete{
  text-decoration: line-through;
}

.notComplete{
  background-color: #E9EDC9;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  min-height: 280px;
}

.buttons{
  display: flex;
  gap: 5px;
  margin: 2px;
  text-decoration: none;
}

.removeBtn{
  background-color: #FBB7B7;
  color: #502100;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  transition: 0.15s ease;
  font-size: 0.8rem;
}

.removeBtn:hover{
  background-color: #EDABAB;
  cursor:pointer;
}

.editBtn{
  background-color: #FEF3E0;
  color: #502100;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  transition: 0.15s ease;
  font-size: 0.8rem;
}

.editBtn:hover {
    cursor: pointer;
    background-color: #ECE1CF;
}

.smaller {
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
}

.form{
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}