.completeLi{
  background-color: #DAE1BB;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 5px;
  align-items: center;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.complete{
  text-decoration: line-through;
}

.notComplete{
  background-color: #E9EDC9;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 5px;
  align-items: center;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.buttons{
  display: flex;
  gap: 5px;
  margin: 2px;
  text-decoration: none;
}

.removeBtn{
  background-color: #FBB7B7;
  border-color: #EDABAB;
  border-radius: 5px;
  padding: 2px;
}

.removeBtn:hover{
  background-color: #EDABAB;
  border-color: #FBB7B7;
  border-radius: 5px;
  padding: 2px;
}

.editBtn{
  background-color: #FEF3E0;
  border-color: #ECE1CF;
  border-radius: 5px;
  padding: 2px;
}

.editBtn:hover {
    cursor: pointer;
    background-color: #ECE1CF;
}

.smaller {
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
}

.form{
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}