.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: #ccd5ae;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

.right {
  display: flex;
  gap: 3rem;
}

.menu h1 {
  font-size: 1rem;
}

.menu a {
  text-decoration: none;
  font-weight: 700;
  color: #502100;
}

.menu a:hover {
  text-decoration: underline;
}
.logout {
  background-color: #fef3e0;
  color: #502100;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-weight: bold;
  transition: 0.15s ease;
  font-weight: 500;
}
.logout:hover {
  background-color: #ece1cf;
  text-decoration: underline;
  cursor: pointer;
}
