.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    background-color:#B253FF;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
}

.right {
    display: flex;
    gap: 3rem;
}

.menu h1 {
    font-size: 1rem;
    color: #222;
}

.menu a {
    text-decoration: none;
    font-weight: 700;
    color: #222;
}

.menu a:hover {
    text-decoration: underline;
}