.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    background-color:#CCD5AE;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
}

.right {
    display: flex;
    gap: 3rem;
}

.menu h1 {
    font-size: 1rem;
}

.menu a {
    text-decoration: none;
    font-weight: 700;
    color: #222;

}

.menu a:hover {
    text-decoration: underline;
}
.logout{
    background-color: #FEF3E0;;
    border:none;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-weight: bold;
    transition: 300ms ease;
    font-weight: 500;
}
.logout:hover{
    background-color:#ECE1CF;
    text-decoration: underline;
    cursor: pointer;
}