@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formcontainer {
  background-color: #ccd5ae;
  height: 100%;
  border-radius: 25px;
  width: 400px;
  height: 500px;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
}

.formbuttons {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.tab {
  width: 50%;
  padding: 1rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #b7c19a;
  font-weight: 500;
  font-size: 1rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: 0.15s ease;
  color: #502100;
}

.tab:first-child {
  border-top-right-radius: 0;
}

.tab:last-child {
  border-top-left-radius: 0;
}

.active {
  background-color: #ccd5ae;
}

.tab:hover:not(.active) {
  background-color: #aeb890;
}

.formcontainer form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  padding: 0 2rem 2rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.formcontainer label {
  font-size: 0.8rem;
  color: #502100;
  margin: 1rem 0 0.5rem 0;
  font-weight: 500;
  color: #502100;
}

.formcontainer input {
  padding: 0.8rem;
  border-radius: 5px;
  background-color: #fffdf4;
  color: #502100;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  border: 2px solid #fffdf4;
}

.formcontainer input:focus {
  outline: none;
  border-color: #dae1bb;
}

.formcontainer form button {
  margin-top: auto;
  width: 100%;
  font-size: 1rem;
  background-color: #fef3e0;
  color: #502100;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  font-weight: 500;
  transition: 0.15s ease;
}

.formcontainer form button:hover {
  cursor: pointer;
  background-color: #ece1cf;
  text-decoration: underline;
}
