li {
  display: flex;
  align-items: center;
  background-color: #CE91FF;
  padding: 1.5rem;
  border-radius: 15px;
  list-style-type: none;
  height: 80px;
  margin-bottom: 0.5rem;
}

.item.past {
  background-color:#9E27FF;
}

.item.past button {
  border: 2px solid #8C00FF;
  background-color: #9E27FF;
  color: #222;
}

.item.past button:hover {
  background-color: #8C00FF;
}