li {
  display: flex;
  align-items: center;
  background-color: #CE91FF;
  padding: 1.5rem;
  border-radius: 15px;
  list-style-type: none;
  height: 80px;
  margin-bottom: 0.5rem;
}

.item.past {
  background-color:#B253FF;
  color: #632B91;
  border: 2px solid #9E27FF;
}

.item.past button {
  background-color: #B253FF;
  color: #632B91;
}

.item.past button:hover {
  background-color: #A04AE5;
}