li {
  display: flex;
  align-items: center;
  background-color: #E9EDC9;
  padding: 1.5rem;
  border-radius: 15px;
  list-style-type: none;
  height: 80px;
  margin-bottom: 0.5rem;
}

.item.past {
  background-color:#DAE1BB;
}

.item.past button {
  background-color: #FBB7B7;
  color: #222;
}

.item.past button:hover {
  background-color: #EDABAB;
}