.item {
  display: flex;
  align-items: center;
  background-color: #e9edc9;
  padding: 1.5rem;
  border-radius: 15px;
  list-style-type: none;
  height: 80px;
  margin-bottom: 0.5rem;
}

.item.past {
  background-color: #dae1bb;
}

.item.past button {
  background-color: #fbb7b7;
  color: #502100;
}

.item.past button:hover {
  background-color: #edabab;
}
