.editcontainer {
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.editcontainer button {
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  margin: 0 0 0 0.5rem;
  font-weight: 500;
}

.editcontainer button:last-of-type {
  background-color: #fef3e0;
  color: #502100;
  transition: 0.15s ease;
}

.editcontainer button:last-of-type:hover {
  background-color: #ece1cf;
  cursor: pointer;
}

.editcontainer button:first-of-type {
  background-color: #fef3e0;
  color: #502100;
  transition: 0.15s ease;
}

.editcontainer button:first-of-type:hover {
  background-color: #ece1cf;
  cursor: pointer;
}
