.form {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.form input{
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: #FFFDF4;
  color: #502100;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  border: 2px solid #fffdf4;
}

.form select{
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: #FFFDF4;
  color: #502100;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  border: 2px solid #fffdf4;
}

.form input:focus {
    outline: none;
    border-color: #DAE1BB;
}

.form select:focus {
    outline: none;
    border-color: #DAE1BB;
}

.form button {
    background-color: #FEF3E0;
    color: #502100;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    font-weight: 500;
    transition: 0.15s ease;
}

.form button:hover {
    cursor: pointer;
    background-color: #ECE1CF;
}

.timeEstimateDiv{
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.timeEstimateDiv select{
  width: 50%;
}

.timeEstimateDiv input{
  width: 50%;
}

.createBtns{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.editForm {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.editForm input {
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #FFFDF4;
  color: #502100;
  border: 2px solid #FFFDF4;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}

.editForm select{
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  background-color: #FFFDF4;
  color: #502100;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #FFFDF4;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}

.editForm input:focus {
    outline: none;
    border-color: #DAE1BB;
}

.editForm select:focus {
  outline: none;
  border-color: #DAE1BB;
}

.editForm button {
  background-color: #FEF3E0;
  color: #502100;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  margin-top: 0.5rem;
  font-weight: 500;
  transition: 0.15s ease;
  font-size: 0.8rem;
}

.editForm button:hover {
    cursor: pointer;
    background-color: #ECE1CF;
}