@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color:#222;
    color: #EEE;
}

h2 {
  text-align: center;
}