.homecontainer {
  display: flex;
  flex-direction: column;
  background-color: #b253ff;
  color: #222;
  padding: 2rem;
  border-radius: 25px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.homeitem {
  display: flex;
  flex-direction: column;
}

.homeitem h3 {
  margin: 1rem 0rem;
}

.homeitem ul {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.homeitem li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #ce91ff;
  list-style-type: none;
  padding: 1rem;
  border-radius: 15px;
  flex: 1;
  height: 100%;
}

.homeitem a {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: auto;
  transition: 300ms ease;
  padding: 0.8rem 1rem;
  background-color: #9f29ff;
  border-radius: 1rem;
}

.homeitem a:hover {
  background-color: #9411FF;
}

.homeitem a span:hover {
  text-decoration: underline;
}

.date {
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
}

.name {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.desc {
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 0.5rem;
}
