.homecontainer {
    display: flex;
    flex-direction: column;
    background-color: #CA89FF;
    color: #EEE;
    padding: 2rem;
    border-radius: 25px;
    width: 800px;
    margin: 0 auto;
}

.homeitem {
    display: flex;
    flex-direction: column;
}

.homeitem h3 {
    margin: 1rem 0rem;
}

.homeitem ul {
    display: flex;
    gap: 2rem;
}

.homeitem li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  background-color: #B253FF;
  list-style-type: none;
  padding: 1rem;
  border-radius: 15px;
  flex: 1;
  height:100%;
}

.homeitem a {
    color: #EEE;
    text-decoration: none;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: auto;
}

.homeitem a:hover {
    text-decoration: underline;
}

.date {
    display: block;
    font-size: 0.8rem;
    opacity: 0.7;
}

.name {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
}